header {
    width:100%;
    padding-left: 5mm; 
    margin: -10px -10px -10px -10px; 
    display: grid; 
    grid-template-areas: 
        "title  nav"; 
    background-color: rgb(162, 156, 156);

}

@media print, screen and (min-width: 480px) {
	.menu-burger, .menu-chkbx, .hamburger {
	display:none;
	}
}

.main {
    font-size: 3em;
    color: black;
    text-align: center;
}

h1 {
    font-size: 2.75em;
    grid-area: title;
    color:rgb(81, 7, 7);
}

.menu {
    grid-area: nav;
    text-align: right;
    padding-top:8mm;
    padding-right:5mm;

}

nav ul li {
    text-align: center;
    display: inline;
    font-size: 1.5em;
    padding-left: 1mm;

}

nav ul li a:hover {
    background-color: rgb(81, 7, 7);
    border-top: 5px solid rgb(81, 7, 7);
    border-bottom: 5px solid rgb(81, 7, 7);
    border-left: 5px solid rgb(81, 7, 7);
    border-right: 5px solid rgb(81, 7, 7);
    color:antiquewhite;
}

a {
    color: black;
    text-decoration: none;
}

.body1 {
    height: 35cm;
    width: 70%;
    background-color: rgb(219, 216, 216);
    margin: auto;

}

.body2 {
    height: 38cm;
    width: 70%;
    background-color: rgb(219, 216, 216);
    margin: auto;

}
.body3 {
    height: 40cm;
    width: 70%;
    background-color: rgb(219, 216, 216);
    margin: auto;

}

h2 {
    text-align: center;
    padding-top: 1cm;
    font-size: 2em;
}

.info {
    padding-left: 1.3cm;
    padding-right: 1.3cm;
    font-size: 1.2em;
}

.steps {
    padding-left: 2.2cm;
    padding-right: 2.2cm;
    font-size: 1.2em;
}

.example {
    padding-left: 1.3cm;
    padding-right: 1.3cm;
    font-size: 1em;
    color:rgb(97, 4, 4);
}

/* Specific for RSA calc page*/

.row {
    display: flex;
}
  
.column1 {
    flex: 50%;
    padding: 1cm;
    padding-top:.5cm;
}
.column2 {
    flex: 50%;
    padding: 1cm;
    padding-top:.5cm;
}


.footer {
    text-align: center;
}

p {
    text-indent: .7cm;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.header {
    background-color: rgb(162, 156, 156);
    padding-bottom:.5cm;
    padding-top:.3cm;
    color: rgb(81, 7, 7);

}

.chart {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.comp {
    width: 25%;
    float: right;
    margin: 0px 0px 15px 20px;
}

.link {
    text-decoration: underline;
    color:rgb(97, 4, 4);
}